*.user*
build-linux/
build-windows/
build-wasm/
doc/
tests/error.log
conan/
build/
dist/
pyhtml2md.egg-info/
*.whl
wheelhouse/
tests/__pycache__/
.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
*.pyc